/*
* Zetta Menu JS 1.1.4
* Copyright 2014, nK
* 11 August 2014
*/
/*

====================== DEFAULT THEME ======================

*/
/*

====================== MAIN ====================== 

*/
.zetta-menu {
  //background-color: #354a5f;
  padding: 0;
  margin: 0;
  display: block;
  //position: relative;
}
.zetta-menu:before,
.zetta-menu ul,
.zetta-menu li,
.zetta-menu a,
.zetta-menu label,
.zetta-menu input,
.zetta-menu textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  list-style: none;
}

.zetta-menu a {
  cursor: pointer;
}
.zetta-menu h1,
.zetta-menu h2,
.zetta-menu h3,
.zetta-menu h4,
.zetta-menu h5,
.zetta-menu h6 {
  font-weight: normal;
  text-align: center;
  margin: 0;
  padding: 15px 0;
  color: $skin-primary;
  border-bottom: 1px solid $skin-primary;
}
.zetta-menu.zm-full-width {
  display: block;
}
.zetta-menu.zm-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.zetta-menu.zm-fixed.zm-position-left {
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
}
.zetta-menu.zm-fixed.zm-position-right {
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
}
.zetta-menu.zm-fixed.zm-position-bottom {
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}
.zetta-menu,
.zetta-menu a {
  color: #2a2a2a;
}

.zetta-menu li {
  position: relative;
  cursor: default;
}
.zetta-menu li > a {
  text-decoration: none;
  display: block;
}
.zetta-menu li > ul,
.zetta-menu li > div {
  z-index: 1;
}

/*level 1*/
.zetta-menu > li {
  display: inline-block;
  vertical-align:top;
  height: 80px;
  line-height:80px;
}

.zetta-menu > li.zm-right-item {
  margin-right: 0;
  float: right;
}

.zetta-menu > li > span {
    display:block;
    font-size:21px;
    padding: 0 5px;
    height: 80px;
    line-height:80px;
}

.zetta-menu > li > a {
    display:block;
    padding: 0 10px;
    position:relative;
    height: 80px;
    line-height:80px;

    > span {
        display:inline-block;
        vertical-align:middle;
        font-size:21px;
        line-height:25px;
    }

    > i.fa {
        display:none;
        width:32px;
        text-align:center;
        position:absolute;
        bottom:15px;
        left:50%;
        margin-left:-16px;
    }
}

.zetta-menu > li:hover,
.zetta-menu > li.zm-active,
.zetta-menu > li.zm-opened {

  > a {
      color:$skin-primary;
      //text-decoration:underline;

      > i.fa {
          display:block;
      }
  }
}

.zetta-menu.zm-position-left > li,
.zetta-menu.zm-position-right > li {
  position: relative !important;
}
.zetta-menu.zm-position-left > li,
.zetta-menu.zm-position-right > li,
.zetta-menu.zm-position-left > li.zm-logo,
.zetta-menu.zm-position-right > li.zm-logo {
  float: none;
}
.zetta-menu.zm-position-left > li > a .zm-caret,
.zetta-menu.zm-position-right > li > a .zm-caret {
  float: right;
}

.zetta-menu .zm-single-icon {
  letter-spacing: 0;
}

.zetta-menu:after {
  content: '';
  display: block;
  clear: both;
}

/* 

====================== MENU DROP DOWN ======================

*/
.zetta-menu > li > ul,
.zetta-menu > li > div.zm-multi-column {
  position: absolute;
  display: none;
}
.zetta-menu > li > ul > li {
  min-height: 50px;
}
.zetta-menu > li > ul > li a {
  padding: 0 20px;
  line-height: 50px;
}
.zetta-menu > li > ul,
.zetta-menu > li > ul ul,
.zetta-menu .zm-multi-column,
.zetta-menu .zm-multi-column > ul ul {
  background-color: #ffffff;
  color: #354a5f;
}
.zetta-menu > li > ul li > a,
.zetta-menu > li > ul ul li > a,
.zetta-menu .zm-multi-column li > a,
.zetta-menu .zm-multi-column > ul ul li > a,
.zetta-menu > li > ul li > a:visited,
.zetta-menu > li > ul ul li > a:visited,
.zetta-menu .zm-multi-column li > a:visited,
.zetta-menu .zm-multi-column > ul ul li > a:visited {
  color: #354a5f;
}
.zetta-menu > li > ul li:hover,
.zetta-menu > li > ul ul li:hover,
.zetta-menu .zm-multi-column li:hover,
.zetta-menu .zm-multi-column > ul ul li:hover,
.zetta-menu > li > ul li.zm-opened,
.zetta-menu > li > ul ul li.zm-opened,
.zetta-menu .zm-multi-column li.zm-opened,
.zetta-menu .zm-multi-column > ul ul li.zm-opened {
  background-color: $skin-primary;
}
.zetta-menu > li > ul li:hover > a,
.zetta-menu > li > ul ul li:hover > a,
.zetta-menu .zm-multi-column li:hover > a,
.zetta-menu .zm-multi-column > ul ul li:hover > a,
.zetta-menu > li > ul li.zm-opened > a,
.zetta-menu > li > ul ul li.zm-opened > a,
.zetta-menu .zm-multi-column li.zm-opened > a,
.zetta-menu .zm-multi-column > ul ul li.zm-opened > a,
.zetta-menu > li > ul li:hover > a:visited,
.zetta-menu > li > ul ul li:hover > a:visited,
.zetta-menu .zm-multi-column li:hover > a:visited,
.zetta-menu .zm-multi-column > ul ul li:hover > a:visited,
.zetta-menu > li > ul li.zm-opened > a:visited,
.zetta-menu > li > ul ul li.zm-opened > a:visited,
.zetta-menu .zm-multi-column li.zm-opened > a:visited,
.zetta-menu .zm-multi-column > ul ul li.zm-opened > a:visited {
  color: #ffffff;
}
.zetta-menu > li > ul,
.zetta-menu > li > div.zm-multi-column {
  top: 100%;
  left: 0;
}
.zetta-menu > li > ul ul,
.zetta-menu > li > div.zm-multi-column ul {
  top: 0;
  left: 100%;
}
.zetta-menu > li > ul ul.zm-drop-left,
.zetta-menu > li > div.zm-multi-column ul.zm-drop-left {
  left: auto;
  right: 100%;
}
.zetta-menu.zm-position-bottom > li > ul,
.zetta-menu.zm-position-bottom > li > div.zm-multi-column {
  top: auto;
  bottom: 100%;
  left: 0;
}
.zetta-menu.zm-position-bottom > li > ul ul,
.zetta-menu.zm-position-bottom > li > div.zm-multi-column ul {
  top: auto;
  bottom: 0;
  left: 100%;
}
.zetta-menu.zm-position-bottom > li > ul ul.zm-drop-left,
.zetta-menu.zm-position-bottom > li > div.zm-multi-column ul.zm-drop-left {
  left: -100%;
}
.zetta-menu.zm-position-left > li > ul,
.zetta-menu.zm-position-left > li > div.zm-multi-column {
  top: 0;
  left: 100%;
}
.zetta-menu.zm-position-left > li > ul ul.zm-drop-left,
.zetta-menu.zm-position-left > li > div.zm-multi-column ul.zm-drop-left {
  top: 0;
  left: 100%;
}
.zetta-menu.zm-position-right > li > ul,
.zetta-menu.zm-position-right > li > div.zm-multi-column {
  top: 0;
  left: auto;
  right: 100%;
}
.zetta-menu.zm-position-right > li > ul ul.zm-drop-left,
.zetta-menu.zm-position-right > li > div.zm-multi-column ul.zm-drop-left {
  top: 0;
  left: auto;
  right: 100%;
}
.zetta-menu.zm-position-right > li > ul ul,
.zetta-menu.zm-position-right > li > div.zm-multi-column > ul ul {
  top: 0;
  left: auto;
  right: 100%;
}
.zetta-menu li:hover > ul,
.zetta-menu li:hover > div.zm-multi-column,
.zetta-menu li:hover > div.zm-multi-column > ul {
  display: block;
}
.zetta-menu li > div.zm-multi-column > ul,
.zetta-menu.zm-position-bottom li > div.zm-multi-column > ul {
  left: 0;
  float: left;
}
.zetta-menu > li > div.zm-multi-column > ul {
  position: relative;
  display: inline-block;
}
.zetta-menu > li.zm-right-align > ul,
.zetta-menu > li.zm-right-align > div.zm-multi-column {
  left: auto;
  right: 0;
}
.zetta-menu.zm-position-left > li.zm-right-align > ul,
.zetta-menu.zm-position-left > li.zm-right-align > div.zm-multi-column {
  left: 100%;
  right: auto;
}
.zetta-menu.zm-position-left > li.zm-right-align > ul,
.zetta-menu.zm-position-left > li.zm-right-align > div.zm-multi-column {
  right: 100%;
}
/*

====================== CONTENT DROP DOWN ======================

*/
.zetta-menu > li.zm-content-full {
  position: static;
}
.zetta-menu > li.zm-content-full > div {
  width: 100%;
}
.zetta-menu > li.zm-content > div,
.zetta-menu > li.zm-content-full > div {
  position: absolute;
  display: none;
  line-height:normal;
  left: 0;
}

/*Custom styles*/
.hd-mega-panel {
    background-image:url('../images/Pixel-elements.png');
    background-position:bottom right;
    background-repeat:no-repeat;
    background-color:$skin-primary;
    color:#fff;
    padding-top:30px;
    padding-bottom:30px;
    background-size:20%;
    text-align:left;

    a {
        color:#fff;
    }

    .submenu-column {
        /*display:table-cell;
        float: none;*/

        + .submenu-column {
            &:after {
                content:'';
                display:block;
                height:100%;
                width:3px;
                position:absolute;
                top:0;
                left:-20px;
                background-color:rgba(0,0,0,.3);
            }
        }
    }

    .hd-nav {
        padding-right: 30px;

        > a {
            // first level of sub menu
            line-height:48px;
            display:block;
            .caption {
                display:inline-block;
                vertical-align:middle;
                font-size:24px;
                line-height:24px;
                font-weight:700;

            }
            .icon {
                display:block;
                float:right;
                height:48px;
                width:48px;
                font-size:28px;
                line-height:48px;
                text-align:center;
                background-color:rgba(0,0,0,.25);
                @include border-radius(24px);

                //.fa {
                //vertical-align:middle;
                //}
                .fa-desktop,
                .fa-link {
                    margin-top:12px;
                }

            }
        }

        > ul {
            margin-top:15px;

            > li {
                display:block;
                margin:5px 0;

                a {
                    font-size:16px;
                    &:hover, &:focus {
                        text-decoration:underline;
                    }
                }
            }

        }
    }
}
